*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: aliceblue;
}
.items{
    display: flex;
    gap: 30px;
    cursor: pointer;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.products{
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    padding: 10px 0px;
}
.card{
    max-width: 250px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
  margin: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    backdrop-filter: blur(15px);
}
img{
    max-width: 100%;
    height: 200px;
}
.categ{
    margin: 0 auto ;
    margin-top: 20px;
    color: blue;
    font-style: italic;
    font-size: 20px;
}